@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To SOB-Technologies</h1>
    <p>Authentication and Authorisation Implementation App with ASP.NET Core</a>. This is just for Practice purposes</p>
</div>
