@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SOB-Technologies</h1>
    <p>Authentication and Authorisation implementation app with ASP.NET Core</a>.</p>
</div>
